$primary-font: sans-serif;
$primary-color: #fff2f8;
$content-bg: #fac8d5;
$second-color: #c25e79;
$img-color: #3d516e;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #333333;
$border-color: #cccccc;
$height-question: 380px;
