:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

html,
body {
    text-align: center;
    font-family: Cambria;
    scroll-behavior: smooth;
}

header {
    font-family: norwester !important;
    font-size: 50pt;
}

header span {
    margin-right: 0;
}

header:nth-child(1) {
    color: #44B6F2 !important;
}



.container {
    background: #fff2f8;

}

.result-box {
    margin: 50px 0;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 5px solid #44B6F2;
}

.result-box span {

    font-size: 40pt;
    font-family: Cambria;
    font-weight: bold;
    font-style: italic;
    /* color: #fada5e; */
    color: #32404b;
}

.result-box iframe {
    background: #fff2f8;
}

#feedback_btn {
    width: 30vw;
    border: 1px solid #FF90CE;
    background: #fff2f8;
    font-size: 35pt;
    color: #FF90CE;
    font-family: Cambria;
}

#feedback_btn:hover {
    background-color: #FF90CE;
    color: white;
}

#feedback_btn:active,
#feedback_btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

#form_box {
    margin-top: 20px;
}

#form_box iframe {
    width: 900px;
    height: 900px;
}